#hide-me {
  background: #bf7130;
  display: block;
  font-weight: bold;
  float: left;
  text-align: center;
  visibility: hidden;
}

#hide_reunion {
  background: #bf7130;
  display: block;
  font-weight: bold;
  float: left;
  text-align: center;
}